<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="https://www.bvg.de" title="Zur Berlin Verkehrsbetriebe Homepage">
    <img src="assets/BVG_Herz_Gelb_RGB.svg" width="60" height="60" alt="BVG logo" aria-hidden="true">
  </a>
  <button class="navbar-toggler" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse" id="navbarToggle">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" title="Fahrinfo">
          <span class="text-uppercase font-weight-bold">Fahrinfo</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.bvg.de/Tickets" title="Tickets">
          <span class="text-uppercase font-weight-bold">Tickets</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.bvg.de/abo-online" title="Abo">
          <span class="text-uppercase font-weight-bold">Abo</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.bvg.de/de/Aktuell" title="Aktuell">
          <span class="text-uppercase font-weight-bold">Aktuell</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.bvg.de/Service" title="Service">
          <span class="text-uppercase font-weight-bold">Service</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://www.bvg.de/de/Meine-BVG" title="Meine BVG">
          <span class="text-uppercase font-weight-bold">Meine BVG</span>
        </a>
      </li>
    </ul>
    <form [formGroup]="searchForm" class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Suche" aria-label="Suche" formControlName="searchQuery">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Suchen</button>
    </form>
  </div>
</nav>


