<div class="row" *ngIf="!noMessagesAvailable()">
  <div class="col">
    <div class="card">
      <div class="card-header bg-transparent">
        <a href="#!" role="button" class="text-decoration-none text-dark nav-link p-0" (click)="isCollapsed = !isCollapsed"
           [ngClass]="{'disabled' : messagesLoading$|async}" [attr.aria-expanded]="!isCollapsed" aria-controls="collapseMessage"
           [title]="isCollapsed ?
            'Detaillierten Verkehrsmeldungen für ' + translateTransportType(type) + ' Linie ' + line + ' anzeigen' :
            'Detaillierten Verkehrsmeldungen für ' + translateTransportType(type) + ' Linie ' + line + ' verbergen'">
          <div class="row">
            <div class="col-3 col-sm-2 col-lg-1">
              <div *ngIf="type === 'underground'">
                <img class="img-fluid" [src]="'assets/BVG_' + line +'.svg'" [alt]="'BVG U-Bahn Icon für Linie ' + line">
              </div>

              <div *ngIf="type !== 'underground'" class="text-center text-white" [ngStyle]="{'background-color': getBackgroundColor()}">
                <span class="align-middle font-weight-bold" [title]="'BVG ' + translateTransportType(type) + ' Icon für Linie ' + line">{{ line }}</span>
              </div>
            </div>
            <div class="col-9 col-sm-10 col-lg-11 align-self-center">
              <div *ngIf="mostRecentMessage$ | async as mostRecentMessage">
                <div class="row">
                  <div class="col-10">
                    {{ mostRecentMessage?.textIntUrsache }}
                  </div>
                  <div class="col-2 align-self-center text-right">
                    <fa-icon [icon]="isCollapsed ? faPlus : faMinus" role="navigation"></fa-icon>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </a>
      </div>

      <div class="card-body pb-0" id="collapseMessage" [ngbCollapse]="isCollapsed">
        <div class="row" *ngFor="let message of messages$ | async; last as isLast">
          <div class="col mb-4" [ngClass]="{ 'border-bottom':!isLast, 'pb-4': !isLast }">
            <app-message-summary [message]="message"></app-message-summary>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="noMessagesAvailable()">
  <div class="col">
    <div class="card">
      <div class="card-header bg-transparent" [title]="'Keine Verkehrsmeldungen für Linie ' + line +' vorhanden'">
        <div class="row">
          <div class="col-3 col-sm-2 col-lg-1">
            <div *ngIf="type === 'underground'">
              <img class="img-fluid" [src]="'assets/BVG_' + line +'.svg'" [alt]="'BVG U-Bahn Icon für Linie ' + line">
            </div>

            <div *ngIf="type !== 'underground'" class="text-center text-white" [ngStyle]="{'background-color': getBackgroundColor()}">
              <span class="align-middle font-weight-bold" [title]="'BVG ' + translateTransportType(type) + ' Icon für Linie ' + line">{{ line }}</span>
            </div>
          </div>
          <div class="col-9 col-sm-10 col-lg-11">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
