<div [ngClass]="message?.meldungsId">
  <p class="bvg-impact">
    {{ message?.textIntAuswirkung }}
  </p>
  <div class="row mb-0">
    <div class="col bvg-valid-from" title="Verkehrsmeldung gültig von">
      <fa-icon [icon]="faSignInAlt" role="presentation" aria-hidden="true"></fa-icon> {{ message?.gueltigVonDatum | date:'shortDate':'de':'de-DE'}} {{ message?.gueltigVonZeit.substring(0, 5) }}
    </div>
    <div *ngIf="message?.gueltigBisDatum" class="col text-right bvg-valid-to" title="Verkehrsmeldung gültig bis">
      <fa-icon [icon]="faSignOutAlt" role="presentation" aria-hidden="true"></fa-icon> {{ message?.gueltigBisDatum | date:'shortDate':'de':'de-DE'}} {{ message?.gueltigBisZeit.substring(0, 5) }}
    </div>
  </div>
</div>
