<app-breadcrumb [items]="['Home', 'Travel Information', 'Traffic status']" ></app-breadcrumb>

<h1 class="text-center mt-2">Traffic Status</h1>

<nav ngbNav #nav="ngbNav" class="nav-tabs">
  <ng-container ngbNavItem>
    <a ngbNavLink>Underground</a>
    <ng-template ngbNavContent>
      <app-messages type="underground"></app-messages>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Tram</a>
    <ng-template ngbNavContent>
      <app-messages type="tram"></app-messages>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Bus</a>
    <ng-template ngbNavContent>
      <app-messages type="bus"></app-messages>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink>Ferry</a>
    <ng-template ngbNavContent>
      <app-messages type="ferry"></app-messages>
    </ng-template>
  </ng-container>
</nav>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<div *ngIf="messagesLoading$ | async">
  <p class="text-center">
    Traffic information is loading
  </p>
  <p>
    <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true">
    </ngb-progressbar>
  </p>
</div>

<div *ngIf="messagesError$ | async as error">
  <p>
    <ngb-alert type="danger" [dismissible]="false">
      An error occurred: {{ error }}
    </ngb-alert>
  </p>
</div>


