<app-breadcrumb [items]="['Home', 'Travel Information', 'Traffic status']" ></app-breadcrumb>

<h1 class="text-center mt-2">Traffic Status</h1>

<div *ngFor="let message of messages$ | async">
  <h2>{{ message?.meldungsId }}</h2>
  <p>
    Line: {{ message?.linie }}
  </p>
  <p>
    Reported at: {{ message?.datum }}
  </p>
  <p>
    Reason: {{ message?.textIntUrsache }}
  </p>
  <p>
    Impact: {{ message?.textIntAuswirkung }}
  </p>
  <p>
    Valid from: {{ message?.gueltigVonDatum }}
  </p>
  <p *ngIf="message?.gueltigBisDatum">
    Valid to: {{ message?.gueltigBisDatum }}
  </p>

</div>

<div *ngIf="messagesLoading$ | async">
  <p>
    Traffic information is loading
  </p>
  <p>
    <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true">
    </ngb-progressbar>
  </p>
</div>

<div *ngIf="messagesError$ | async as error">
  <p>
    <ngb-alert type="danger" [dismissible]="false">
      An error occurred: {{ error }}
    </ngb-alert>
  </p>
</div>
