<app-breadcrumb [items]="['Home', 'Fahrinfo', 'Verkehrsmeldungen']" ></app-breadcrumb>

<h2 class="my-4 font-weight-lighter">Verkehrsmeldungen</h2>

<nav ngbNav #nav="ngbNav" orientation="horizontal" class="nav-tabs nav-fill">
  <ng-container ngbNavItem>
    <a ngbNavLink class="text-left text-dark">
      <img src="assets/BVG_U-Bahn.svg" width="30" height="30" alt="BVG U-Bahn icon">
      U-Bahn
    </a>
    <ng-template ngbNavContent>
      <app-lines type="underground"></app-lines>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink class="text-left text-dark">
      <img src="assets/BVG_Tram.svg" width="30" height="30" alt="BVG tram icon">
      Tram
    </a>
    <ng-template ngbNavContent>
      <app-lines type="tram"></app-lines>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink class="text-left text-dark">
      <img src="assets/BVG_Bus.svg" width="30" height="30" alt="BVG bus icon">
      Bus
    </a>
    <ng-template ngbNavContent>
      <app-lines type="bus"></app-lines>
    </ng-template>
  </ng-container>
  <ng-container ngbNavItem>
    <a ngbNavLink class="text-left text-dark">
      <img src="assets/BVG_Faehre.svg" width="30" height="30" alt="BVG ferry icon">
      Fähre
    </a>
    <ng-template ngbNavContent>
      <app-lines type="ferry"></app-lines>
    </ng-template>
  </ng-container>
</nav>
<div [ngbNavOutlet]="nav" class="mt-2 container-fluid px-0"></div>

<div *ngIf="messagesLoading$ | async">
  <h2 class="text-center mt-5">
    Verkehrsmeldungen werden geladen
  </h2>
  <p>
    <ngb-progressbar type="warning" [value]="100" [striped]="true" [animated]="true">
    </ngb-progressbar>
  </p>
</div>

<div *ngIf="messagesError$ | async as error">
  <p>
    <ngb-alert type="danger" [dismissible]="false">
      Ein Fehler ist passiert: {{ error }}
    </ngb-alert>
  </p>
</div>


